#experience-link {
    !important;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;

    color: #303030;
    font-size: 36px;
    margin-top:0;

    -webkit-transition-duration: .25s;
    -moz-transition-duration: .25s;
    -ms-transition-duration: .25s;
    -o-transition-duration: .25s;
    transition-duration: .25s;

    margin-left: 5px;
    margin-right: 5px;
    float: right
}

#experience-link:hover {
    !important;
    color: #303030;
    font-size: 36px;
    margin-top:0;
    -webkit-transition-duration: .5s;
    -moz-transition-duration: .5s;
    -ms-transition-duration: .5s;
    -o-transition-duration: .5s;
    transition-duration: .5s;
}