.blrb-container {
    margin-bottom: 15px;
    max-width: 450px;
}

.blrb-text{
    text-align: center;
    font-family: 'Montserrat', serif;
}

.blrb-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 12rem;
}

.blrb-heading{

}

.blrb-master{
    max-width: 85%;
}
