<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet" />
    <link type="text/css" rel="stylesheet" href="{% static 'pages/navbar.css' %}"/>
    {% block css-links %}{% endblock css-links %}
    <meta charset="UTF-8">
    <title>{% block title %}Patrick Shannon's Curriculum Vitae{% endblock %}</title>
</head>
<body>
{% block navbar %}
<div id="navbar">
        <span id="navbar-name">Patrick Shannon  </span>
        <span id="navbar-section-title">Curriculum Vitae</span>
        {#TODO: Put the links into their own div for auto resizing.#}
        <a href="{% url 'references' %}"{% if request.path == "/references" %} id="navbar-inactive"{% endif %}>References</a>
        <a href="{% url 'interests' %}"{% if request.path == "/interests" %} id="navbar-inactive"{% endif %}>Interests</a>
        <a href="{% url 'experience' %}"{% if request.path == "/experience" %} id="navbar-inactive"{% endif %}>Experience</a>
        <a href="{% url 'skills' %}"{% if request.path == "/skills" %} id="navbar-inactive"{% endif %}>Skills</a>
        <a href="{% url 'bio' %}"{% if request.path == "/bio" %} id="navbar-inactive"{% endif %}>Bio</a>
        <!--In reverse order from how they appear on the page-->
    </div>
    <div id="top-spacer"></div> <!-- Used to keep any elements from being hidden under the navbar-->
{% endblock navbar %}

{% block content %}
{#    Page content goes here. Nothing in this file, of course. #}
{% endblock content %}

{% block copyright_info %}
    {#TODO: Place copyright info here.#}
{% endblock copyright_info %}
</body>
</html>